html{
    font-size: var(--size-font-default);
    color: var(--color-default);
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    transition-timing-function: linear;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    width: 100%;
    font-size: var(--size-font-default);
    background-color: white;
    color: var(--color-default);
    border: none;
    margin: 0;
    padding: 0;
}

p, a {
    font-size: var(--size-font-default);
}
p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

div {
    font-size: var(--size-font-default);
}

.link {
    /* color: #1f77b4; */
    color: #0072D0;
    /* color: var(--color-default); */
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    /* color: #1f77b4; */
    text-decoration: underline;
}

li {
    margin-bottom: 0;
}
