html{
    font-size: var(--size-font-default);
    color: var(--color-default);
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    font-family: Tahoma, sans-serif;
    transition-timing-function: linear;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    width: 100%;
    font-size: var(--size-font-default);
    background-color: white;
    color: var(--color-default);
    border: none;
    margin: 0;
    padding: 0;
}

p, a {
    font-size: var(--size-font-default);
    display: inline;
    font-family: Tahoma, sans-serif;
}

div {
    font-size: var(--size-font-default);
}

