:root {

}

.container {
    display: inline;
    position: relative;
    padding-left: calc(var(--size-checkmark)*1.1);
    /* margin-bottom: 12px; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--size-checkmark);
    width: var(--size-checkmark);
    background-color: #eee;
}

.container:hover input:not(:checked) ~ .checkmark {
    background-color: #ccc;
    transition: background-color 1s;
}

.container input:checked ~ .checkmark {
    background-color: #1f77b4;
    transition: background-color 1s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45vw;
    top: 0.2vw;
    width: 0.2vw;
    height: 0.5vw;
    /* left: 0.45vw; */
    /* top: 0.2vw; */
    /* width: 0.2vw; */
    /* height: 0.5vw; */
    border: solid white;
    border-width: 0 0.27vw 0.27vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: var(--opacity-checkafter);
}

table {
  border-collapse: collapse;
}

tr {
    height: var(--height-tr);
    border: 0;
    margin: 0;
    cursor: pointer;
}
tr:hover {
    background-color: #eee;
    transition: background-color 1s;
}

td {
    text-align: left;
    padding-left: var(--padding-td);
    padding-right: var(--padding-td);
    padding-top: var(--padding-td-tb);
    padding-bottom: var(--padding-td-tb);
    border: 0;
    margin: 0;
}

.colorpicker {
    border-width: 0;
    width: var(--width-colorpicker);
    cursor: pointer;
    background-color: #f5f5f5;
}
