.container {
    display: inline;
    position: relative;
    padding-left: calc(var(--size-checkmark)*1.1);
    /* margin-bottom: 12px; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--size-checkmark);
    width: var(--size-checkmark);
    background-color: #eee;
    transition: background-color 0.5s;
    border-radius: 30%;
}

.container:hover input:not(:checked) ~ .checkmark {
    background-color: #ccc;
    transition: background-color 1s;
}

.container input:checked ~ .checkmark {
    background-color: #1f77b4;
    transition: background-color 1s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.3vw;
    top: 0.18vw;
    width: 0.12vw;
    height: 0.23vw;
    /* left: 0.45vw; */
    /* top: 0.2vw; */
    /* width: 0.2vw; */
    /* height: 0.5vw; */
    border: solid white;
    border-width: 0 0.2vw 0.2vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: var(--opacity-checkafter);
}

table {
    border-collapse: collapse;
    border-spacing: 0vw;
}

tr {
    border: 0;
    margin: 0;
    cursor: pointer;
}

td {
    text-align: left;
    padding-left: var(--padding-td);
    padding-right: var(--padding-td);
    padding-top: var(--padding-td-tb);
    padding-bottom: var(--padding-td-tb);
    border: 0;
    margin: 0;
}

.colorpicker {
    border-width: 0;
    width: var(--width-colorpicker);
    cursor: pointer;
    background-color: #f5f5f5;
    height: calc(var(--size-font-header)*1.3);
}

.markerpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: calc(var(--size-font-header)*1.3);
    height: calc(var(--size-font-header)*1.3);
    /* text-align: -webkit-center; */
    text-align: center;
    padding: 0 0.4vw 0 0.4vw;
    border: 0vw solid #f5f5f5;
    background-color: #f5f5f5;
    cursor: pointer;
    /* font-family: system-ui; */
    font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.82rem;
    opacity: 0.8;
}

.markeropt {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
}

.btndisplay {
    font-size: calc(var(--size-font-default)*0.7);
    margin: 0 0;
    padding: calc(var(--padding-input)*0.55) calc(var(--padding-input)*0.6);
}

.btnforward {
    font-size: calc(var(--size-font-default)*0.9);
    margin: 0 0;
    padding: calc(var(--padding-input)*0.38) calc(var(--padding-input)*0.65);
}
