table {
    border-collapse: collapse;
    border-spacing: 0vw;
}

tr {
    border: 0;
    margin: 0;
    cursor: pointer;
}

td {
    text-align: left;
    padding-left: var(--padding-td);
    padding-right: var(--padding-td);
    padding-top: var(--padding-td-tb);
    padding-bottom: var(--padding-td-tb);
    border: 0;
    margin: 0;
}

tr button, tr select, tr input, .smallbtn {
    padding: 0;
    margin: 0;
    height: var(--width-picker);
    width: var(--width-picker);
    cursor: pointer;
    border: 0;
    background-color: var(--gray);
    text-align: center;
    font-size: 0.75rem;
}

.markerpicker {
    font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.markeropt {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
}

.new {
    color: var(--red);
    font-size: 0.9rem;
    font-weight: 500;
}
