/* colors */
:root {
    --color-default: black;
    --width-leftrange: 49vw;
    --size-font-header: 1.2vw;
    --size-font-default: 1.1vw;
    --size-font-desc: 1.1vw;
    --size-font-footer: 1vw;
    --height-footer: 1.1vw;
    --height-header-left: 2.8vw;
    --height-header-right: 9vw;
    --margin-rightrange: 1.05;

    /* checkbox */
    --width-colorpicker: 1.4vw;
    --padding-td: 0.5vw;
    --padding-td-tb: 0.4vw;
    --height-tr: 2.2vw;
    --size-checkmark: 1.2vw;
    --opacity-checkafter: 1;

    /* input */
    --height-margin-input: 0.3vw;
    --width-input: 5vw;
    --padding-input: 0.8vw;
    --height-slider: 0.9vw;

    /*reference*/
    --ncol-reference: 2;
    --width-reference: 38vw;
}

/* transition */

button:hover {
    background-color: #1f77b4;
    color: white;
    transition: background-color 0.5s;
    transition: color 0.3s;
}

tr:hover {
    background-color: #eee;
    transition: background-color 0.2s;
}

/* main */

html{
    font-size: var(--size-font-default);
    color: var(--color-default);
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    font-family: Tahoma, sans-serif;
    transition-timing-function: linear;
    background-color: white;
}

body {
    height: 100%;
    width: 100%;
    font-size: var(--size-font-default);
    background-color: white;
    color: var(--color-default);
    border: none;
    margin: 0;
    padding: 0;
}

p {
    font-family: Tahoma, sans-serif;
    font-size: var(--size-font-default);
    display: inline;
}

/* Top left */

#header {
    height: var(--height-header-left);
    width: var(--width-leftrange);
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    background-color: white;
    z-index: 1;
}

#title {
    width: var(--width-leftrange);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: var(--size-font-header);
    color: var(--color-default);
    font-weight: bold;
    position: absolute;
    padding-top: 1vw;
}

/* Top right */

#descholder {
    width: calc((100vw - var(--width-leftrange) * var(--margin-rightrange))*0.98);
    height: var(--height-header-right);
    position: fixed;
    top: 0;
    margin-left: calc(var(--width-leftrange) * var(--margin-rightrange));
    background-color: white;
    z-index: 1;
}

#divrange {
    position: absolute;
    width: calc((100vw - var(--width-leftrange) * var(--margin-rightrange))*0.8);
    right: 0;
}

#desc {
    width: calc((100vw - var(--width-leftrange) * var(--margin-rightrange))*0.98);
    height: var(--height-header-right);
    position: absolute;
    right: 10vw;
    top: 1.5vw;
    font-size: var(--size-font-desc);
    text-align: right;
}

/* Bottom left */

#leftrange {
    width: var(--width-leftrange);
    height: calc(100vh - var(--height-header-left));
    left: 0;
    padding-left: 0;
    padding-top: var(--height-header-left);
    background-color: white;
    display: block;
    overflow: auto;
}

#setup {
    text-align: center;
    width: calc(var(--width-leftrange)*0.96);
}

#data {
    width: calc(var(--width-leftrange)*0.96);
}

#datainput {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

/* Bottom right */

#rightrange {
    width: calc((100vw - var(--width-leftrange) * var(--margin-rightrange))*0.98);
    height: calc((100vh - var(--height-header-right) - var(--height-footer))*0.96);
    /* position: absolute; */
    position: fixed;
    left: calc(var(--width-leftrange) * var(--margin-rightrange));
    top: var(--height-header-right);
    padding-bottom: var(--height-footer);
    overflow: auto;
    /* display: block; */
    background-color: white;
}

#rightpad {
    width: calc((100vw - var(--width-leftrange) * var(--margin-rightrange))*0.95);
    position: relative;
    margin-left: 0;
    margin-top: var(--height-list-title);
    padding-bottom: var(--height-footer);
    border: none;
    overflow: auto;
    display: block;
    background-color: white;
    /* text-align: center; */
}

/* Footers */

#footercontainerright {
    height: var(--height-footer);
    width: calc((100vw - var(--width-leftrange) * var(--margin-rightrange))*0.98);
    position: fixed;
    bottom: 0;
    left: calc(var(--width-leftrange) * var(--margin-rightrange));
    background-color: white;
    text-align: center;
    z-index: 1;
}

#footerright {
    height: calc(var(--height-footer)*0.8);
    width: calc((100vw - var(--width-leftrange) * var(--margin-rightrange))*0.98);
    position: absolute;
    left: 0;
    bottom: calc(var(--height-footer)*0.2);
    font-size: var(--size-font-footer);
    text-align: center;
}

#clipboard {
    position: absolute;
    padding: 0.1vw;
    /* top: 4%; */
    /* left: 60%; */
    color: white;
    font-size: calc(var(--size-font-default) * 0.8);
    opacity: 0;
    transition: opacity 1s;
}
