/* colors */
:root {
    --color-default: black;
    --width-leftrange: 100vw;
    --width-leftrange-inner: 0.99;
    --size-font-header: 3vw;
    --size-font-default: 3vw;
    --size-font-desc: 5vw;
    --size-font-footer: 3vw;
    --height-footer: 3.2vw;
    --height-header-left: 0;
    --height-rightrange: 60vw;

    /* svg.css */
    --width-axis: 0.3vw;
    --size-axis-font: 3vw;
    --size-axistitle-font: 3vw;
    --size-axissub-font: 1.7vw;
    --size-legend: 2.2vw;

    /* checkbox */
    --width-colorpicker: 5vw;
    --padding-td: 0.5vw;
    --padding-td-tb: 1.2vw;
    --height-tr: 2.2vw;
    --size-checkmark: 3vw;
    --opacity-checkafter: 0;

    /* input */
    --height-margin-input: 0.8vw;
    --width-input: 10vw;
    --padding-input: 2vw;

    /*reference*/
    --ncol-reference: 2;
    --width-reference: 80vw;
}

html{
    font-size: var(--size-font-default);
    color: var(--color-default);
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    font-family: Tahoma, sans-serif;
    transition-timing-function: linear;
}

body {
    height: 100%;
    width: 100%;
    font-size: var(--size-font-default);
    background-color: white;
    color: var(--color-default);
    border: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: var(--size-font-default);
    display: inline;
    font-family: Tahoma, sans-serif;
}

div {
    font-size: var(--size-font-default);
}

/* Top left */

#title {
    width: calc(var(--width-leftrange)*var(--width-leftrange-inner));
    text-align: center;
    font-size: var(--size-font-header);
    color: var(--color-default);
    font-weight: bold;
}

/* Top right */

#descholder {
    margin-top: 2vw;
    position: default;
    background-color: white;
}

#desc {
    position: default;
    font-size: var(--size-font-desc);
}

/* Bottom left */

#leftrange {
    width: var(--width-leftrange);
    left: 0;
    padding-left: 0;
    padding-top: var(--height-rightrange);
    background-color: white;
    display: block;
    overflow: auto;
    padding-bottom: calc(var(--height-footer) + 15vh);
}

#setup {
    margin-top: 1vw;
    text-align: center;
    width: calc(var(--width-leftrange)*var(--width-leftrange-inner));
}

#data {
    width: calc(var(--width-leftrange)*var(--width-leftrange-inner));
    padding-top: 1vw;
}

#datainput {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

/* Bottom right */

#rightrange {
    width: var(--width-leftrange);
    height: var(--height-rightrange);
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: white;
}

#rightpad {
    width: calc(var(--width-leftrange)*var(--width-leftrange-inner));
    position: relative;
    margin-left: 0;
    border: none;
    overflow: auto;
    display: block;
    background-color: white;
    text-align: center;
    padding-bottom: 3vw;
}

/* Footers */

#footercontainerright {
    width: var(--width-leftrange);
    height: var(--height-footer);
    position: fixed;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 1;
}

#footerright {
    width: var(--width-leftrange);
    height: calc(var(--height-footer));
    position: absolute;
    left: 0;
    bottom: calc(var(--height-footer)*0.2);
    font-size: var(--size-font-footer);
    text-align: center;
}

#clipboard {
    position: absolute;
    padding: 0.1vw;
    color: white;
    font-size: calc(var(--size-font-default) * 0.8);
    opacity: 0;
    transition: opacity 1s;
}
