/* colors */
:root {
    --color-default: black;
    --width-leftrange: 100vw;
    --width-leftrange-inner: 0.99;
    --size-font-header: 3vw;
    --size-font-default: 2.6vw;
    --size-font-desc: 5vw;
    --size-font-footer: 2.7vw;
    --height-footer: 3.2vw;
    --height-header-left: 0;
    --height-rightrange: 59vw;

    /* checkbox */
    --width-colorpicker: 3vw;
    --padding-td: 0.4vw;
    --padding-td-tb: 1.2vw;
    --height-tr: 2.2vw;

    /* input */
    --height-margin-input: 0.8vw;
    --width-input: 10vw;
    --padding-input: 2vw;
    --height-slider: 3vw;

    /*reference*/
    --ncol-reference: 2;
    --width-reference: 92%;
    --margin-reference: 1vw;
}

/* Top left */

#title {
    width: calc(var(--width-leftrange)*var(--width-leftrange-inner));
    text-align: center;
    font-size: var(--size-font-header);
    color: var(--color-default);
    font-weight: 600;
}

/* Top right */

#descholder {
    margin-top: 2vw;
    position: default;
    background-color: white;
}

#desc {
    position: default;
    font-size: var(--size-font-desc);
}

/* Bottom left */

#leftrange {
    width: var(--width-leftrange);
    left: 0;
    padding-left: 0;
    padding-top: var(--height-rightrange);
    background-color: white;
    display: block;
    overflow: auto;
    padding-bottom: calc(var(--height-footer) + 15vh);
}

#setup {
    margin-top: 1vw;
    text-align: center;
    width: calc(var(--width-leftrange)*var(--width-leftrange-inner));
}

#data {
    width: calc(var(--width-leftrange)*var(--width-leftrange-inner));
    padding-top: 1vw;
}

#datainput {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

/* Bottom right */

#rightrange {
    width: calc(var(--width-leftrange));
    height: var(--height-rightrange);
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: white;
}

#rightpad {
    width: calc(var(--width-leftrange)*0.90*var(--width-leftrange-inner));
    position: relative;
    margin: 0 auto;
    border: none;
    overflow: auto;
    display: block;
    background-color: white;
    text-align: center;
    padding-bottom: 3vw;
}

/* Footers */

#footercontainerright {
    width: var(--width-leftrange);
    height: var(--height-footer);
    position: fixed;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 1;
}

#footerright {
    width: var(--width-leftrange);
    height: calc(var(--height-footer));
    position: absolute;
    left: 0;
    bottom: calc(var(--height-footer)*0.2);
    font-size: var(--size-font-footer);
    text-align: center;
    color: var(--darkgray);
}

#clipboard {
    position: absolute;
    padding: 0.2vw;
    color: white;
    font-size: calc(var(--size-font-default)*0.9);
    opacity: 1;
    border-radius: calc(var(--size-font-default)*0.25);
    display: block;
}
