:root {
}

button {
    border: none;
    margin: var(--height-margin-input) calc(var(--height-margin-input)*0.5);
    background-color: #f5f5f5;
    color: black;
    padding: calc(var(--padding-input)*0.5) var(--padding-input);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--size-font-default);
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.3s, color 0.3s;
}

input[type=number] {
    width: var(--width-input);
    padding: calc(var(--padding-input)*0.5) var(--padding-input);
    /* padding: 0.4vw 0.5vw; /\*tb lr*\/ */
    margin: var(--height-margin-input) calc(var(--height-margin-input)*0.5);
    border: 0px solid white;
    background-color: #f5f5f5;
    font-size: var(--size-font-default);
    font-family: inherit;
    font-weight: inherit;
    -moz-appearance: textfield;
}

input[type=range] {
    display: inline-block;    
}

.custom-select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    width: calc(var(--width-input)*1.6);
    padding: calc(var(--padding-input)*0.5) var(--padding-input);
    margin: var(--height-margin-input) calc(var(--height-margin-input)*0.5);
    border: 0px solid white;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: var(--size-font-default);
    font-family: inherit;
    font-weight: inherit;
}

.slider {
    -webkit-appearance: none;
    width: 15%;
    height: var(--height-slider);
    border-radius: calc(var(--height-slider)*0.33);
    background: #f5f5f5;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;  
    cursor: pointer;
    margin-right: 0.5vw;
    display: inline-block;
    vertical-align: middle;
}

.verticalslider {
    transform: rotate(90deg);
}

#ratiorange {
    /* display: block; */
    position: fixed;
    top: 22vw;
    right: 6.5vw;
    width: 7vw;
    z-index: 1;
}
#tratio {
    transform: rotate(90deg);
    position: fixed;
    top: 22vw;
    right: 4.5vw;
    /* height: 2vw; */
    z-index: 1;
    
}
.slider:hover {
    opacity: 1;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: calc(var(--height-slider)*1.0);
    height: calc(var(--height-slider)*1.0);
    border-radius: 10%;
    border: 0vw none transparent;
    /* background: repeating-linear-gradient(-45deg, transparent, transparent 0.25vw, black 0.27vw, black 0.40vw); */
    background: repeating-linear-gradient(-45deg, transparent, transparent 0.08vw, black 0.08vw, black 0.16vw);
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.2;
}

.slider::-webkit-slider-thumb:hover {
    opacity: 1.0;
    background: #0F56BD;
    background-image: radial-gradient(white 30%, #0F56BD 30%);
    border: 0.14vw solid #0F56BD;
    border-radius: 50%; 
}

input[type=text] {
    outline: none;
    width: 23%;
    color: #444;
    opacity: 0.4;
    border: 0.1vw solid #999;
    border-radius: 0.3vw;
    font-size: calc(var(--size-font-default));
    padding-left: 0.3vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    margin: var(--height-margin-input) calc(var(--height-margin-input)*0.5);
    ::placeholder {
        color: #666;
    }
    display: inline;
    vertical-align: middle;
    transition: opacity 0.3s;
}

input[type=text]:hover {
    opacity: 1.0;
}
