:root {
}

#reference {
    /* padding-right: 2vw; */
    width: var(--width-reference);
    columns: var(--ncol-reference);
    -webkit-columns: var(--ncol-reference);
    -moz-columns: var(--ncol-reference);
    overflow: auto;
    opacity: 0;
    transition: opacity 2s;
    list-style-type: square;
    text-align: left;
    margin: 0 auto;
    margin-left: var(--margin-reference);
}

li {
    margin-bottom: 0;
}

.liref {
    text-decoration: none;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
}
