:root {
}

#reference {
    /* padding-right: 2vw; */
    columns: var(--ncol-reference);
    -webkit-columns: var(--ncol-reference);
    -moz-columns: var(--ncol-reference);
    overflow: auto;
    opacity: 0;
    transition: opacity 2s;
    list-style-type: square;
    text-align: left;
}

#divreference {
    width: var(--width-reference);
    overflow: auto;
    padding-left: 7vw;
    /* padding: 0.8vh 0.8vh 0.8vh 0.8vh; */
}

li {
    margin-bottom: 1vh;
}

.liref {
    text-decoration: none;
    transition: background-color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
}
