.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.axis {
    font: var(--size-axis-font) sans-serif;
}
.axis path,
.axis line {
    stroke: black;
    stroke-opacity: 1.0;
    /* stroke-width: 1.5px; */
    stroke-width: var(--width-axis);
}

.grid {
}
.grid path,
.grid line {
    stroke: #e5e5e5;
    stroke-opacity: 0.5;
    stroke-dasharray: 5,3;
    stroke-width: var(--width-axis);
}

.axistitle {
    font: var(--size-axistitle-font) sans-serif;
}

.axistitlesub, .axistitlesup {
    font: var(--size-axissub-font) sans-serif;
}

.axistitlesub {
    baseline-shift: sub;
}
.axistitlesup {
    baseline-shift: super;
}

.watermark {
    fill: #ccc;
    font: calc(var(--size-axis-font)*0.95) sans-serif;
}

.legend {
    font: var(--size-legend) sans-serif;
    /* transition: opacity 0.5s; */
}

.legendlebel {
    fill: black;
}

.legendmark {
    font: calc(var(--size-legend)*1.2) sans-serif;
}

.hline {
    stroke-width: var(--width-axis);
    transition: opacity 0.5s;
}


