.axis,
.watermark,
.axistitle {
    font-size: 3.2em;
}

.legend {
    font-size: 2.3em;
}

.axis path,
.axis line {
    stroke-width: 0.08em;
}

.hline {
    transition: opacity 0.5s;
}

.grid path,
.grid line
{
    transition: opacity 0.5s;
    stroke: #e5e5e5;
    stroke-dasharray: 5,3;
}

.axis path,
.axis line {
    stroke: black;
    stroke-opacity: 1;
}

.tsub,
.tsup {
    font-size: 0.6em;
}

.tsub {
    /* baseline-shift: sub; */
    baseline-shift: -20%;
}
.tsup {
    /* baseline-shift: super; */
    baseline-shift: 70%;
}

.watermark {
    fill: #e5e5e5;
}

.legendmark {
    font-size: 1.2em;
}



