.axis,
.watermark,
.axistitle {
    font-size: 3.2em;
}

.legend {
    font-size: 2.3em;
}

.axis path,
.axis line {
    stroke-width: 0.08em;
}

.hline {
    transition: opacity 0.5s;
}

.grid path,
.grid line
{
    transition: opacity 0.5s;
    stroke: #e5e5e5;
    stroke-dasharray: 5,3;
}

.axis path,
.axis line {
    stroke: black;
    stroke-opacity: 1;
}

.axistitlesub,
.axistitlesup {
    font-size: 0.6em;
}

.axistitlesub {
    baseline-shift: sub;
}
.axistitlesup {
    baseline-shift: super;
}

.watermark {
    fill: #e5e5e5;
}

.legendlebel {
    fill: black;
}

.legendmark {
    font-size: 1.2em;
}



